
	<appSettings >
		<!--REMOVE BEFORE PUBLIC POSTING-->
		<add key="SmtpUsername" value="lighthousecapstoneclaim21@gmail.com"/>
		<add key="SmtpPassword" value="deleted_lol"/>

		<add key="YoutubeAPIKey" value="AIzaSyCIjZKbx2REhZef8uES2VkcNqSLsnIZqsg"/>
		<add key="YoutubeInfo2" value=""/>
		


	</appSettings>
