
	<appSettings >
		<!--REMOVE BEFORE PUBLIC POSTING-->
		<add key="SmtpUsername" value="lighthousecapstoneclaim21@gmail.com"/>
		<add key="SmtpPassword" value="brdslcjwvxmwlvtw"/>

		<add key="YoutubeAPIKey" value="AIzaSyB8c8gPgYff9d44HSPZaw3X4nmZOBspcMM"/>
		<add key="YoutubeInfo2" value=""/>
		


	</appSettings>
