<?xml version="1.0"?>
<configuration>

	<appSettings >
		<!--REMOVE BEFORE PUBLIC POSTING-->
		<add key="SmtpUsername" value="lighthousecapstoneclaim21@gmail.com"/>
		<add key="SmtpPassword" value="brdslcjwvxmwlvtw"/>


	</appSettings>
	
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

</configuration>
