@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>
<h3>Why?</h3>

<p>Lighthouse was designed because as great as tutorials are, context is misssing in many cases 
    <br /><br />
    On many occasions I've had trouble finding up to date and properly guided tutorials on YouTube. 
    The way that google handles their search algorithm and engagement are mostly to blame in my opinion. Having nothing to go on besides 
    simple like/dislike ratio and views tends to skew results in such a way that popular, not nessicarily accurate, tutorials end up with a 
    snowballing amount of views which draws more viewers who try to find something different.
    <br /><br />
    This site was thought to allow a different perspective for engagement, allowing users to give more immidate feedback through various types 
    of emojis. This will allow smaller creators another avenue for giving their perspective on how to accomplish certain tasks without having 
    to compete on the axis of google's engagement metric.
    <br /><br />


    </p>

@*<p>I will fill this in later </p>
<ln></ln>*@




<footer>
    <div class="inner">
        <div style="flex">
            <h2 class="major">Get in touch</h2>
            <p>Feel free to reach out to me with any questions</p>
    @* outer wrapper for about *@
            <div>
                @* align right *@
                <ul class="contact">
                    <li class="icon solid fa-envelope"><a href="mailto:lighthousecapstoneclaim21@gmail.com">lighthousecapstoneclaim21@gmail.com</a></li>
                    <li class="icon solid fa-home">
                        -Address witheld for privacy reasons-<br />
                        Ballwin, MO 63011
                    </li>


                </ul>
            </div>
            <!--<div>-->
                @* Need to align left *@

                <!--<form method="post" action="#">
                    <div class="fields">
                        <div class="field">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" />
                        </div>
                        <div class="field">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" />
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="4"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" /></li>
                    </ul>
                </form>
            </div>-->

        </div>
        <ul class="copyright">
            <li>&copy; Untitled Inc. All rights reserved.</li>
            <li>Design Based on: Solid State by <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>