@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="imp-xlarge">Welcome</h1>
    <p class="lead">short wording about stuff, link to about page below for further info</p>
    <p><a href="~/Home/About" class="button">Learn more &raquo;</a></p>
</div>
<hr />
<div>
    <div class="col-md-4">
        <h2 class="button primary"><a href="~/Categories/">Categories</a></h2>
        <p>
            Here is the full list of all the current categories listed on this website, contact an admin if you would like a new category added.
        </p>

    </div>
    <br />
    <div class="col-md-4">
        <h2><a class="button primary" href="~/">TBD&raquo;</a></h2>
        <p>addl info goes here</p>

    </div>
    <br />
    <div class="col-md-4">
        <h2><a class="button primary" href="~/">TBD&raquo;</a></h2>
        <p>addl info goes here</p>

    </div>
</div>