@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="imp-xlarge">Welcome</h1>
    <p class="lead">Claim Academy 2021-2 Capstone Project</p>
    <p><a href="~/Home/About" class="button">About this project &raquo;</a></p>
</div>
<hr />
<div>
    <div class="col-md-4">
        <h2 class="button primary"><a href="~/Categories/">Categories</a></h2>
        <p>
            Here is the full list of all the current categories listed on this website, contact admin@NotARealLighthouse.com or
            <a href="mailto:lighthousecapstoneclaim21@gmail.com">lighthousecapstoneclaim21@gmail.com</a> if you would like a new category added.
        </p>

    </div>
    <br />
    @*<div class="col-md-4">
        <h2><a class="button primary" href="~/">TBD&raquo;</a></h2>
        <p>addl info goes here</p>

    </div>
    <br />
    <div class="col-md-4">
        <h2><a class="button primary" href="~/">TBD&raquo;</a></h2>
        <p>addl info goes here</p>

    </div>*@
</div>